<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thermatk.android.l.catchup" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.thermatk.android.l.catchup" />

        <activity
            android:name=".CatchUpMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".CatchUpMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thermatk.android.l.catchup.CatchUpMain" />
        </activity>
        <activity
            android:name=".CourseSingle"
            android:label="@string/title_activity_course_single"
            android:parentActivityName=".CatchUpMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thermatk.android.l.catchup.CatchUpMain" />
        </activity>

        <receiver android:name=".widget.NesNearestEvents" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>

        <service
            android:name=".widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".widget.WidgetUpdateService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
